@import "tailwindcss";


#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@theme {
  --breakpoint-xs: 440px;
  --breakpoint-xxs: 376px;

}